.env/
.vscode/
__pycache__/
report/report.aux
report/report.fdb_latexmk
report/report.fls
report/report.log
report/report.out
report/report.pdf
report/report.synctex.gz
presentation/presentation.aux
presentation/presentation.fdb_latexmk
presentation/presentation.fls
presentation/presentation.log
presentation/presentation.nav
presentation/presentation.out
presentation/presentation.pdf
presentation/presentation.snm
presentation/presentation.synctex.gz
presentation/presentation.toc